@using SingleModel.Model
@model Game
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name</title>
</head>
<body>
    <p>@Model.Name</p>
    <p>@Model.Platform</p>
    <p>@Model.Engine</p>
</body>
</html>
